.fae-img-carousel-item {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.education-logo {
  max-width: 200px;
  height: auto;
  margin-top: 15px;
}
/* #UWGB-logo {
  float: inline-start;
}
#NWTC-logo {
  float: inline-end;
} */
.education-header {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 50px;
}
#D20-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#D20-div:hover {
  cursor: pointer;
}
#d20-img {
  /* transition: transform 0.3s ease; */
}
.dice-number {
  font-size: 3rem;
  font-weight: bold;
  /* color: #4a4a4a; */
  position: absolute;
}
