.fae-img-carousel-item {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.education-logo {
  max-width: 200px;
  height: auto;
  margin-top: 15px;
}
/* #UWGB-logo {
  float: inline-start;
}
#NWTC-logo {
  float: inline-end;
} */
.education-header {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 50px;
}
#D20-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#D20-div:hover {
  cursor: pointer;
}

.dice-number {
  font-size: 3rem;
  font-weight: bold;
  /* color: #4a4a4a; */
  position: absolute;
}

@property --dice-hover-neg-rotation {
  syntax: "<angle>";
  initial-value: -5deg;
  inherits: false;
}
@property --dice-hover-pos-rotation {
  syntax: "<angle>";
  initial-value: 5deg;
  inherits: false;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(var(--dice-hover-neg-rotation));
  }
  20% {
    transform: translate(-3px, 0px) rotate(var(--dice-hover-pos-rotation));
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(var(--dice-hover-pos-rotation));
  }
  50% {
    transform: translate(-1px, 2px) rotate(var(--dice-hover-neg-rotation));
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(var(--dice-hover-neg-rotation));
  }
  80% {
    transform: translate(-1px, -1px) rotate(var(--dice-hover-pos-rotation));
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(var(--dice-hover-neg-rotation));
  }
}
