/* Project Card Hover Effect */

@keyframes gradient-flow {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}
.project-card-div {
  align-items: center;
}
.project-card-div:hover h3 {
  background: linear-gradient(30deg, white, white, black, white, white);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-flow 2s linear;
  display: inline-block; /* Ensures background-clip works correctly */
}
#password-cracker-card-div {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/pictures/projects_page/hacker.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#productivity-app-card-div {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/pictures/projects_page/productivity.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#library-project-card-div {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/pictures/projects_page/library.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.project-card-div {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#ICEE-slush-rush-card-div {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/pictures/projects_page/icee-slush-rush.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Prize-Hub-Reloaded-card-div {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/pictures/projects_page/prize-hub-reloaded.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
